.mainContainer{
    display:flex;
    flex-wrap:wrap
    }
    #cards-p-div{
        
        width: 210px;
        height: 400px;
        margin-left: 20px;
        /* margin-right: 5px; */
        margin-top: 15px;
        margin-bottom: 15px;
       
        
    }
    .card-img-top{
        height:200px;
        width: 200px;
    }
    #Div_A
    {
        
        width: 950px;
        height: 1000px;
        border:2px solid black;
        margin-left: 160px;
        background-color: white ;
        border-radius: 14px;
        margin-top: 70px;
        
    
    }
    
    
    
    #form{
    
        margin-left: 150px;
        margin-top: 50px;
    }
    
    
    #btn
    {
        width: 170px;
        height: 40px;
        background-color: rgb(79, 189, 186);
        border-radius: 5px;
        color: aliceblue;
        font-style: normal;
        font-weight :900;
        border-color: rgb(78, 173, 78);
    }
    
    
    
    
    .mystyle
    {
      background-color:rgb(79, 189, 186);
      width: 98.7vw;
      height:12vh;
      
    
    
    }
    
    #footer{
    
    background-color: rgb(79, 189, 186);
    
    }
    